@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  background-color: rgb(var(--foreground-rgb));
  color: #b6b8bd;
  padding: 10px;
  font-family: "Figtree Variable", sans-serif;
  overflow: hidden !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}